Repository VicSolWang/tar-compress-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

chore(release): 0.2.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dcfc675422ec0990567980db79af0140a4314f10
Due: none

chore(release): 0.2.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  04cf7c455723c51b0992e1d4d481b9239bcb816b
Due: none

fix: modify test
  test/command.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.2 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f03b806c66e3d95a40d93610929f921a7c6fa41
Due: none

fix: add arrayUnique function
  src/cli/pack.ts
  src/cli/unpack.ts
  src/utils/index.ts
  test/utils.ts
Due: prettier --write, eslint --fix

fix: modify test
  test/bugCommand.ts
  test/command.ts
  test/fullCommand.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.3 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d754f89544c13191896241ca329c9e56dd026b8f
Due: none
